* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}
li {
    background-color: #23201D;
    color: #937341;
    cursor: pointer;

}

.centered-content {
    margin: 0 auto;
}

.tabs {
    display: flex;
}

.tabs li a {
    display: block;
    padding: 20px;
    background: #23201D;
    color: #937341;
}

.tabs li.active a {
    background-color: #937341;
    color: #23201D;
}

.tabs-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    background: white;
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: block;
}

.tabs-panel p + div {
    margin-top: 15px;
}
